### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#school_data.head()
school_data_complete
#school_data_complete["school_name"].head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#calculating total number of schools
school_names = school_data_complete["school_name"].unique()
#school_names
school_count = len(school_names)
school_count

15

In [4]:
#calculating the total number of students
student_names = school_data_complete["Student ID"]
#student_names
student_count = len(student_names)
student_count

39170

In [5]:
#calculating the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
#calculating the average math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
#calculating the average reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
#calculating the percentage of students with a passing math score (70 or greater)
#percentage_passing_students = student_data["math_score"]
math_pass= [score for score in student_data["math_score"]
    if score >=70]
        
math_pass_count = len(math_pass)
#math_pass_count

math_pass_percentage = (math_pass_count/student_count)*100
math_pass_percentage

74.9808526933878

In [9]:
#calculating the percentage of students with a passing reading score (70 or greater)
reading_pass= [score for score in student_data["reading_score"]
    if score >=70]
        
reading_pass_count = len(reading_pass)
#reading_pass_count

reading_pass_percentage = (reading_pass_count/student_count)*100
reading_pass_percentage

85.80546336482001

In [10]:
#calculating the percentage of students who passed math and reading (% Overall Passing)
overall_passing_students = ((math_pass_count + reading_pass_count)/((student_count)*100)
overall_passing_students

#Overall_passing = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/total_students_number*100
#Overall_passing

SyntaxError: invalid syntax (1847744010.py, line 3)

In [11]:
#creating a dataframe to hold the above results
district_titles = {
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": math_pass_percentage,
    "% Passing Reading": reading_pass_percentage,
    "% Overall Passing": reading_pass_percentage
}

district_df = pd.DataFrame([district_titles])
district_df

###### fix % OVerall Passing

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
#school_data_complete
#district_df

In [13]:
#school name 
#school_names = school_data_complete["school_name"].unique()
#school_names

#school_names = school_data_complete.set_index("school_name").groupby(["school_name"])
#school_names

school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [31]:
#school type
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
#total students
#total_students = student_count
#total_students

#total_students = student_names["Student ID"].count()
#total_students

total_students = school_data_complete["Student ID"].count()
total_students

39170

In [16]:
#total school budget
total_school_budget = school_data_complete.set_index("school_name")["size"]
total_school_budget

school_name
Huang High School     2917
Huang High School     2917
Huang High School     2917
Huang High School     2917
Huang High School     2917
                      ...
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Name: size, Length: 39170, dtype: int64

In [17]:
#per student budget
per_student_budget = (total_school_budget)/(school_data_complete.set_index("school_name")["budget"])
per_student_budget

school_name
Huang High School     0.001527
Huang High School     0.001527
Huang High School     0.001527
Huang High School     0.001527
Huang High School     0.001527
                        ...
Thomas High School    0.001567
Thomas High School    0.001567
Thomas High School    0.001567
Thomas High School    0.001567
Thomas High School    0.001567
Length: 39170, dtype: float64

In [18]:
#average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [19]:
#average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [ ]:
#percent passing math

In [ ]:
#percent passing reading

In [ ]:
#percent overall passing

In [43]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass
})


#munging
school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing']]


#formatting
school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

NameError: name 'total_student' is not defined

In [50]:
#Create a dataframe to hold the above results


school_summary = pd.DataFrame({
    "School Type": school_type, 
    "Total Students": total_students, 
    "Total School Budget": total_school_budget, 
    "Per Student Budget": per_student_budget, 
    "Average Math Score": average_math_score, 
    "Average Reading Score": average_reading_score,
  })




school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score']]

    
#school_summary = (columns={
 #   "School Type": school_type,
 #   "Total Students": total_students,
  #  "Total School Budget": total_school_budget,
   # "Per Student Budget": per_student_budget,
    #"Average Math Score": average_math_score,
   # "Average Reading Score": average_reading_score,
#})


#  "% Passing Math",
#    "% Passing Reading", 
#    "% Overall Passing"
#summary_df = pd.DataFrame([summary_titles])
#summary_df



#school_summary_df = pd.DataFrame([school_summary])
#school_summary_df



school_summary.style.format({'Total Students': '{:}',
                         "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}"})

#school_summary

# = summary_df.groupby('School')
#summary_df

#school_names = school_data_complete.set_index("school_name").groupby(["school_name"])
#school_names

C:\Users\Karina Alvarez\AppData\Local\Temp\ipykernel_7748\4107712103.py:4: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  school_summary = pd.DataFrame({

ValueError: cannot reindex on an axis with duplicate labels

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type